html[data-theme="light"] {
	--scrollbar-thumb-bg: #00000019;
	--scrollbar-thumb-bg-hover: #00000026;
	--scrollbar-thumb-bg-active: #0000002b;
}

html[data-theme="dark"] {
	--scrollbar-thumb-bg: #ffffff19;
	--scrollbar-thumb-bg-hover: #ffffff26;
	--scrollbar-thumb-bg-active: #ffffff2b;
	--pst-color-background: #181619;
	--pst-color-on-background: #252528;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg);
}

*::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-bg-hover);
}

*::-webkit-scrollbar-thumb:active {
	background: var(--scrollbar-thumb-bg-active);
}

.treeview ul,
.treeview li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.treeview li li {
	position: relative;
	padding: 0.15rem 0 0.15rem 1rem;
	margin-left: 0.5rem;
	border-left: 1px solid #636363;
}

.treeview li li::before {
	content: "";
	position: absolute;
	top: 0;
	left: -1px;
	width: 0.75rem;
	height: 1.15rem;
	border-left: 1px solid #636363;
	border-bottom: 1px solid #636363;
}

.treeview li li:last-child {
	border-color: transparent;
}

[class^="nbt-"] {
	display: inline-block;
	background-image: url("nbt-sprite.png");
	background-position: -16px -48px;
	background-repeat: no-repeat;
	background-size: 64px;
	vertical-align: middle;
	width: 1em;
	height: 1em;
}

.nbt-byte {
	background-position: 0px 0px;
}

.nbt-double {
	background-position: -16px 0px;
}

.nbt-float {
	background-position: -32px 0px;
}

.nbt-int {
	background-position: -48px 0px;
}

.nbt-long {
	background-position: 0px -16px;
}

.nbt-short {
	background-position: -16px -16px;
}

.nbt-string {
	background-position: -32px -16px;
}

.nbt-compound {
	background-position: -48px -16px;
}

.nbt-byte-array {
	background-position: 0px -32px;
}

.nbt-int-array {
	background-position: -16px -32px;
}

.nbt-list {
	background-position: -32px -32px;
}

.nbt-bool {
	background-position: -48px -32px;
}

.nbt-long-array {
	background-position: 0px -48px;
}

.nbt-any {
	background-position: -16px -48px;
}

.nbt-number {
	background-position: -32px -48px;
}

button.btn.language-switcher__button {
	border-color: var(--pst-color-border);
	color: var(--pst-color-text-base);
}

button.btn.language-switcher__button:hover {
	box-shadow: 0 0 0 0.1875rem var(--pst-color-secondary);
	border-color: transparent;
}

button.btn.language-switcher__button:active {
	color: var(--pst-color-text-base);
	border-color: var(--pst-color-border);
}

button.btn.language-switcher__button:focus-visible {
	border-color: transparent;
}

.language-switcher__menu {
	border-color: var(--pst-color-border);
	border-radius: var(--bs-dropdown-border-radius);
}

.language-switcher__menu a.list-group-item {
	background-color: var(--pst-color-on-background);
	color: var(--pst-color-text-base);
	padding: 0.75rem 1.25rem;
}

.language-switcher__menu a.list-group-item:not(:last-child) {
	border-bottom: 1px solid var(--pst-color-border);
}

.language-switcher__menu a.list-group-item:hover {
	background-color: var(--pst-color-surface);
	color: var(--pst-color-link-hover);
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: max(1px, .0625rem);
	text-decoration-thickness: max(3px, .1875rem, .12em);
	text-underline-offset: .1578em;
}

.language-switcher__menu a.list-group-item:active {
	box-shadow: inset max(3px, .1875rem, .12em) 0 0 var(--pst-color-primary);
	color: var(--pst-color-primary);
	font-weight: 600;
	position: relative;
	z-index: 1;
}

.language-switcher__menu a.list-group-item:active span::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}

.language-switcher__menu a.list-group-item:focus-visible {
	z-index: 10;
}
